
<h1 class="my-5">Créer une voiture</h1>
<div class="col-6 border shadow my-5 p-5">
<form>
    <div class="form-group">
      <label for="name">Nom de la voiture</label>
      <input type="text" class="form-control" id="name" >
    </div>
    <div class="form-group">
      <label for="pays">Pays d'origine</label>
      <input type="text" class="form-control" id="pays">
    </div>
    <div class="form-group">
        <label for="coverImage">Photo de la voiture (URL)</label>
        <input type="text" class="form-control" id="coverImage">
      </div>
      <div class="form-group">
        <label for="power">Puissance </label>
        <input type="number" class="form-control" id="power">
      </div>
      <div class="form-group">
        <label for="perf">Temps de 0 à 100 km/h</label>
        <input type="number" class="form-control" id="perf">
      </div>
      <button type="submit" class="btn btn-primary my-5">Enregistrer</button>
  </form>
  </div>