<h1 class="my-5">
  Créer une voiture
</h1>
<div class="col-6 border shadow my-5 p-5">
  <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">

    <div class="form-group">
      <label for="fullname">Nom du pilote</label>
      <input type="text" class="form-control" name="fullname" id="fullname"   required>

      
    </div>

    <div class="form-group">
      <label for="pays">Pays d'origine</label>
      <input type="text" class="form-control" name="pays" id="pays" required>

     
    </div>

    <div class="form-group">
      <label for="coverImage">Photo du pilote (url)</label>
      <input type="text" class="form-control" name="coverImage" id="coverImage"  required>

      

    </div>

    <div class="form-group">
      <label for="category">Categorie</label>
      <input type="text" class="form-control"  name="category" id="category"  required>

      

    </div>

    <div class="form-group">
      <label for="likeIts">Nombre de Likes</label>
      <input type="number" class="form-control"  name="likeIts" id="likeIts" required>
    </div>

    <button type="submit" [disabled]="myForm.invalid" class="btn btn-success my-5">Enregister</button>
  </form>
</div>