<h1 class="my-5">
    Nos pilotes
</h1>
<p *ngIf="isOnline">Thomas a dit à Andréa que ....</p>

<div class="p-5 card bg-info">
    <h2>{{ book.title }}</h2>
    <p>{{ book.author }}</p>
    <p><span *ngIf="book.price"> prix : {{ book.price }} €</span>
       <span *ngIf="book.price == null">Non communiqué</span>
    </p>
</div>

<h3>Boucle *ngFor</h3>
<ul>
    <li *ngFor="let game of games">{{ game }}</li><!--*ngFor peut etre sur nimporte quelle balise html la variable game peut s'appeler x ou tutu nimporte-->
</ul>
<p *ngFor="let game of games let i = index">{{ i }} {{ game | uppercase }}</p>
  <hr>
  <h3>Directive style</h3>
    <p [style.color]="colorOne">
        [style.propriété] on peut mettre n'importe quelle propriété css 
        style.color  </p>
    <p [style.color]="getColor()">fonctinne aussi avec une methode dans la classe!</p>
    <p [style.color]="'gold'">ou directement avec la couleur voulue mais c'est pas bien de faire comme ça</p>
    <div [style.background-color]="OnOff ? colorOne : getColor()">
        Affiche selon une condition
        ? est un ternaire = condition ? "dans ce cas" : "dans l'autre cas"
        c'est un if/else sur une ligne
    </div>
   
  <button (click)="onSwitch()" class="btn btn-primary my-5">
      <span *ngIf="!OnOff">On✔</span>
      <span *ngIf="OnOff">Off✖</span>
  </button>
  <div [ngStyle]= "{ color:colorOne ,
                     margin:MarginPts , 
                     padding:'20px' , 
                     backgroundColor:getColor() 
                    }">
      [ngStyle] ici on declare un object  ,on peut mettre pluseurs DOM dedans , color , backgroung ...
        il y a plus de possibilités
    </div>