<div class="card text-center shadow">
    <div class="card-header bg-dark text-white ">
        <h2 class="card-title">{{car.name | titlecase }}</h2>
    </div>
    <div class="card-body">
        <img [src]="car.coverImage" class="img-fluid" alt="photo {{car.name}}">
        <hr>
        <p>Origine: {{car.pays | uppercase }}</p>
        <p>Puissance: {{car.power}} CH</p>
        <p>0 à 100 km/h: {{car.perf}} sec </p>
       
        <button class="btn btn-primary" (click)="onBooking()" [disabled]="isBooked">{{bookingMessage}}</button>
    </div>
</div>
<hr>